.app-container {
  display: flex;
}

.content-container {
  width: 80%;
  padding: 20px;
  background-color: #2a2a2a;
  color: #fff;
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  margin-bottom: 20px;
  color: #ffc107;
}
.section {
  
  
  margin-bottom: 10px;
  margin-top: 10px;
}
.cards{
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
}

.card .company-name {
  font-weight: bold;
  font-size: 1.1rem; /* Increase the font size of company name */
  color: black; /* Set the color to black */
}

.card {
  width: 20%; /* Ensures each card takes up 20% of the screen width */
  background-color: #333;
  padding: 20px;
  margin-right: 5%;
  align-self: baseline;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* Includes padding and border in the width */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and shadow */
}

.card:hover {
  transform: scale(1.06) rotate(-1.75deg); /* Slight zoom and small rotation */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increased shadow on hover */
}

.card h3 {
  color: #ffc107;
}

.card p {
  color: #ccc;
}

.card button {
  background-color: #ffc107;
  color: #000;
  border: none;
  margin-top: 10px;
}
